<ion-header>
  <ion-navbar>
    <ion-title>
      Mi Tienda
    </ion-title>
    <ion-buttons end padding-right>
      <button ion-button icon-only color="primary">
        <ion-icon name="cart"></ion-icon>
        <ion-badge color="danger" class="carrito_numero"
        *ngIf="_cs.items.length > 0">
        {{ _cs.items.length}}
      </ion-badge>
      </button>
     

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  <ion-grid>
    <ion-row *ngFor="let pares of _ps.productos">
      <ion-col *ngFor="let item of pares"
               [navParams]="{ producto: item }"
               [navPush]="productoPage">

        <img [src]="item.codigo | imagen" >

        <p>
          {{item.producto}}
          <br>
          {{item.precio_compra | currency:'USD'}}
        </p>
  

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="siguiente_page($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
